.container.contact_container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
  }

  .mainContainerContact {
    background-color: #c2cad0;
    padding-top: 2em;
    color: blueviolet;
    text-align: center;
    padding-bottom: 3em;
  }

  .contactButton {
    width: 7em;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    border: 1px solid blueviolet;
    transition: var(--transition);
    background: blueviolet;
    color: white;
    height: 3em;
  }

  .mainTitle {
    font-size: xx-large;
    padding-bottom: 1em;
  }
  
  .containor {
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
  }
  
  .contact_options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  
  .clasa {
    color: #663399;
    background: #FFFADA;
    border-radius: 45px;
    width: 12em;
    height: 2em;
    padding-top: 0.8em;
  }

  
  .h5 {
    color: gray;
  }
  
  .contact_option {
    background: #663399;
    color: #FFFADA;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 2px solid #663399;
    transition: var(--transition);
  }
  
  .contact_option:hover {
    background: #663399;
    border-color: var(--color-primary-variant);
    color: #FFFADA;
  }
  
  .contact_option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .contact_option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: bold;
  }
  
  .contact_option a:hover {
    background: #ba55d3;
    color: white;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: #FFFADA;
    border: 2px solid blueviolet;
    resize: none;
    color: #FFFADA;
  }
  
  @media screen and (max-width: 1024px) {
    .containor {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
  
  @media screen and (max-width: 600px) {
    .containor {
      width: 80%;
    }
    .contact_options {
      width: 100%;
    }

    .form  {
      width: 80%;
    }
  }
  