.footer {
    background: blueviolet;
    padding: 1rem 0;
    text-align: center;
    font-size: 0.9rem;
}

.footer a {
    color: white;
    font-size: x-large;
}

.footer_logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

li {
    list-style: none;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 1rem;
}

.footer_socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.tonny {
    color: white;
    font-size: medium;
}

.tonnyDiv{
    margin-bottom: 2rem;
}

.footer_socials a {
    background: var(--color-bg);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer_socials a:hover {
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}
.footer_copyrigth {
    margin-bottom: 8rem;
    color: white;
}

@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer_socials {
        margin-bottom: 2.6rem;
    }
}