.imgContainer {
    width: 75%;
    height: 25em;
    display: flex;

    margin: 0 auto;
    padding-bottom: 3em;
}

.headerContai {
    background-color: #FFFADA;
}

.presentation {
    width: 40%;
}
.presentation1 {
    width: 40%;
}

.bienvenido {
    width: 100%;
    height: 8em;
    margin-top: 3em;
    border-radius: 50px;


}

.bienvenidoLogo {
    width: 100%;
    height: 8em;
    margin-top: 3em;
}

.headerContaino {
    display: grid;
}

@media screen and (max-width: 600px) {
  
    .presentation {
      width: 76%;
      padding-left: 0;
      margin-left: 0;
    }
    .presentation1 {
        display: none;
    }
    .headerContai {

        margin-left: -2em;
        height: 25em;
    }
}
