.imgLogo {
  width: 4em;
  height: 3em;

}

.navVidas {
    text-align: center;
    margin: 0;
    display: flex;
    height: 3em;
    justify-content: space-between;
    gap: 1em;
    padding: 1.5em 0 0 3em;
  }

  .navContainer {
    color: #FFFADA;

    height: 6em;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    background-color: blueviolet;
  }

  a {
    color: #FFFADA;
  }

  @media screen and (max-width: 600px) {
    .navContainer {
      display: none;
    }
  }