.services_container {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    background-color: #FFFADA;
    padding-bottom: 3em;
  }

  .modalContainer {
    background-color: #FFFADA;
    color: blueviolet;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 45px;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: medium;
    font-weight: 400;
    text-align: justify;
  }

  .buttonModalContainer {
    text-align: center;
  }

  .openModalButton {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid blueviolet;
    transition: var(--transition);
    background: blueviolet;
    color: white;
  } 

  .closeButton {
    color: blueviolet;
    background: none;
    border: none;
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
  }

  .openModalButtonA {
    font-size: medium;
    color: white;
  }

  .first {
    padding-bottom: 1em;
  }

  .pService {
    font-weight: 500;
  }

  .modalButton {
    text-align: end;
    padding: 0.5em 1em;
    color: blueviolet;
    background: none;
  }

  .modalContent {
    text-align: center;
  }

  .service {
    background: #FFFADA;
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
  }

  .titles {
    color: blueviolet;
    text-align: center;
    font-size: x-large;
    padding-bottom: 2em;
  }
  

  .imgDoctor {
    width: 180px;
    height: 150px;
    border-radius: 50px;
    text-align: center;
  }

  .docContainer {
    text-align: center;
  }

  .service:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
  }
  
  .h5 {
    color: gray;
  }
  
  .service_head {
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  .service_head h3 {
    color: blueviolet;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .service_list {
    padding: 2rem;
    color: blueviolet;
    box-shadow: 0 2rem 1rem rgb(0 0 0 / 10%);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid blueviolet;
    border-top: none;
  }

  
  .service li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
  }
  
  .service_list-icon {
    color: var(--color-primary);
    margin-top: 2px;
  }
  
  .service_list p {
    font-size: 17px;
  }
  
  @media screen and (max-width: 1024px) {
    .services_container {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    .service {
      height: auto;
    }
  }
  
  @media screen and (max-width: 600px) {
    .services_container {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }
  